/* ======================================
Responsive Image gallery Style rules
======================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
  }
  
  body{
    background-color: #363e5c;
  }
  
  .container {
    padding: 40px 5%;
  }
  
  .heading-text {
    margin-bottom: 5rem;
    font-size: 6rem;
    color: antiquewhite;
    text-align: center;
  }
  
  .heading-text span {
    font-weight: 100;
  }
  
  /* Responsive image gallery rules begin*/
  
  .image-gallery {
    /* Mobile first */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
@media only screen and (min-width: 900px) {
    .image-gallery .column {
        flex-direction: row;
      }
    }

 @media only screen and (min-width: 900px) {
        .image-gallery {
            flex-direction: row;
          }
        }
 @media only screen and (min-width: 900px) {
         .column {
                flex-direction: row;
            }
        }
  /* overlay styles */
  
  .image-item {
    position: relative;
    cursor: pointer;
  }